# Local .terraform directories
**/.terraform/
*.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files that are meant to be customized
*.auto.tfvars
*.override.tf
*.override.tf.json

# CLI configuration files
.terraformrc
terraform.rc

# Exclude sensitive information like .pem, .key, .tfstate, or .tfvars
*.pem
*.key
*.tfstate
*.tfvars
*.csv
*.sh

.DS_Store